@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #dff1e7;
}

@font-face {
  font-family: "Karla";
  src: url(fonts/Karla-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}